src/main/mule/netsuit-snowflakes-completepoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6c68c24d-1c80-4b2f-92b7-fbb79568824f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<netsuite:rest-config name="NetSuite_Rest_config" doc:name="NetSuite Rest config" doc:id="4483f008-b127-4949-b37d-c068bbb9b7bf" >
		<netsuite:restlet-token-connection consumerKey="214a8ee0d9d4cfb2c464898bec4327ad32c8151b35fb6791edc1e112c4bec4ee" consumerSecret="711724f71923cce7894de599256bbf170a6c666dea494e7ce2d9d4500570db3a" tokenId="ebf57eab8f583d643eff29ac7283567c49109641402447f6bb62cc553adc03b8" tokenSecret="cee88101e6b0138fc84e3d6f7cb8f1752220a997c5ee76fbc6cd0b6157471ba4" account="5691377_SB1" />
	</netsuite:rest-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f893cd42-7dc2-4746-9beb-83cfc989e9e7" >
		<db:generic-connection url="jdbc:snowflake://ik11448.us-east-2.aws.snowflakecomputing.com/?user=jadeptran&amp;password=Monamie55&amp;db=SALES_ORDER&amp;schema=public" driverClassName="net.snowflake.client.jdbc.SnowflakeDriver" user="jadeptran" password="Monamie55"/>
	</db:config>
	<flow name="netsuit-snowflakes-integrationFlow1" doc:id="5f3cb3fb-c020-4b6b-a8d7-7fe3b42b553d" >
		<http:listener doc:name="/" doc:id="689f81de-40bf-4ee0-b0db-1318086cbab1" config-ref="HTTP_Listener_config" path="/"/>
		<parse-template doc:name="Parse Template" doc:id="a40b68cf-33f8-4f86-a3e8-ddb1bbd54385" location="form.html"/>
	</flow>
	<flow name="netsuit-snowflakes-integrationFlow" doc:id="9ed8e048-08a8-48cc-882b-86f49a5356a6" >
		<http:listener doc:name="/get" doc:id="1777180b-6228-46b8-9a30-6cf63f1bc131" config-ref="HTTP_Listener_config" path="/get"/>
		<ee:transform doc:name="Transform GET Input" doc:id="2b357443-38cb-4120-9e17-d6f279c6d7a3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "id": attributes.queryParams.id,
    "recordtype": attributes.queryParams.recordtype
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<netsuite:call-restlet-get doc:name="Call RESTlet (GET)" doc:id="80e911d3-d326-42f0-a943-71e23b9023a8" script="2231" deploy="1" config-ref="NetSuite_Rest_config"/>
		<ee:transform doc:name="Data Cleansing" doc:id="cda4c301-9d5a-4e55-85f0-02db7e403393" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var data = read(payload[0][0], "application/json")
---
data map (value, index) -> { 
    result1: value - "item",
    result2: value.item map (item, idx) -> { 
         (item..item + "order_id": value.id)

    }
    }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="DB Insert Orders Query Mapping" doc:id="4c6779ed-59c7-4318-8875-e41eb655e640" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="result1" ><![CDATA[%dw 2.0
output application/json
---
payload.result1]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk Insert Orders" doc:id="2f237210-480c-4129-8e37-96d8b863f4f9" config-ref="Database_Config" target="insertOrders">
			<db:bulk-input-parameters ><![CDATA[#[vars.result1]]]></db:bulk-input-parameters>
			<db:sql ><![CDATA[ INSERT INTO SALES_ORDER.PUBLIC.ORDERS
 (id, type, isdynamic, subtotal, createddate, currency, shipaddress, custbody_ava_customercompanyname,
 currencysymbol, billaddress, status, unbilledorders, otherrefnum, istaxable, total, shippingaddress_key,
 paymentsessionamount, lastmodified, entityfieldname, custbody_ava_is_sellerimporter, currencyname, carrier) 
 VALUES (:id,  :type,  :isDynamic,  :subtotal,  :createddate,  :currency,  :shipaddress,  :custbody_ava_customercompanyname, 
 :currencysymbol,  :billaddress,  :status,  :unbilledorders,  :otherrefnum,  :istaxable,  :total,  :shippingaddress_key,  
 :paymentsessionamount,  :lastmodified,  :entityfieldname,  :custbody_ava_is_sellerimporter,  :currencyname,  :carrier)]]></db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="DB Insert Order Details Query Mapping" doc:id="f14fda01-21cd-4af0-919e-1e4f63417608" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="result2" ><![CDATA[%dw 2.0
output application/json
---
(flatten(payload.result2))]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk Insert Order Details" doc:id="dbec607b-f480-480d-856b-546fb26d51b0" config-ref="Database_Config">
				<db:bulk-input-parameters ><![CDATA[#[vars.result2]]]></db:bulk-input-parameters>
			<db:sql><![CDATA[INSERT INTO SALES_ORDER.PUBLIC.ORDER_DETAILS (order_id, amount, amounthasbeenset, backordered, 
custcol_pct_ge_item_image_link, description, istaxable, item, item_display, itemtype, line,linenumber, linked,
 orderallocationstrategy, price_display, quantity, rate, requesteddate) VALUES (:order_id, :amount, :amounthasbeenset, :backordered, 
:custcol_pct_ge_item_image_link, :description, :istaxable, :item_id, :item_display, :itemtype, :line,:linenumber, 
:linked, :orderallocationstrategy, :price_display, :quantity, :rate, :requesteddate)]]></db:sql>
			</db:bulk-insert>
		<ee:transform doc:name="Transform Message" doc:id="aabf69f1-c0f1-4ac5-a966-1832ba33fc0a">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Data Migrated Successfully!"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
	
</flow>
	<flow name="netsuit-snowflakes-completepocFlow" doc:id="e0e3265a-fa0f-4f8c-9380-e87be86b2eda" >
		<http:listener doc:name="/get/orderdetails" doc:id="cbf4ab50-7360-41df-8ed1-e8f0db740751" config-ref="HTTP_Listener_config" path="/get/orderdetails"/>
		<db:select doc:name="Select Order Details" doc:id="bcf81675-ea8c-483b-af9d-31752dc0dfeb" config-ref="Database_Config">
			<db:sql ><![CDATA[ SELECT * FROM  SALES_ORDER.PUBLIC.ORDER_DETAILS WHERE ORDER_ID= :order_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	order_id:attributes.queryParams.id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Set Output Payload" doc:id="ea53aa76-aef8-4460-a4bc-141d4e481f79" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="netsuit-snowflakes-completepocFlow1" doc:id="8fa5178a-7ec2-42a9-876f-1d9227c9238a" >
		<http:listener doc:name="get/orders" doc:id="dc4cf415-266f-4ecc-bc3e-d905fd097dec" config-ref="HTTP_Listener_config" path="get/orders"/>
		<db:select doc:name="Select Orders" doc:id="f45ed70f-e9e8-4347-862a-6c04d1e595ae" config-ref="Database_Config">
			<db:sql ><![CDATA[ SELECT * FROM SALES_ORDER.PUBLIC.ORDERS]]></db:sql>
		</db:select>
		<ee:transform doc:name="Set Output Payload" doc:id="ae0783ca-0500-4ddc-92ff-3daa8a5f357e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

</mule>
